/* orange-d FA804C, */


/* Default Css */
.theme-color {
    color: #A4BC46;
}
.theme-color-2 {
    color: #FA804C;
}
.theme-bg-color {
    background-color: #FEFAF0;
}
img {
    max-width: 100%;
}
.mt-100 {
    margin-top: 100px;
}
/* Header Menu */
ul.navbar-nav .nav-item .nav-link {
    padding: 25px 0;
    margin-right: 50px;
    color: black;
}

/* Header Banner Area */
.carousel-item {
    padding-top: 50px;
    padding-bottom: 100px;
}
.header-banner-item-info {
    padding-right: 120px;
    padding-top: 100px;
}
.header-banner-item-info h1 {
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
}
.banner-span {
    color: #A4BC46;
}
.link-button {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-image: linear-gradient(90deg,lightSalmon, tomato);
    padding: 12px 30px 10px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.link-button img {
    display: inline-block;
    max-width: 25px;
    margin-right: 3px;
}
.link-button:hover {
    background-image: linear-gradient(90deg,tomato, red);
    color: white;
}
.header-banner-item-img {
    padding-right: 140px;
}
.carousel-control-next, 
.carousel-control-prev {
    display: none;
}
.carousel-indicators li {
    height: 5px;
    background-color: #FA804C;
}
/* Product Area */
.section-span {
    color: #FA804C;
}
.product-item {
    border: 0;
    border-radius: 1.25rem!important;
}
.product-img {
    padding: 30px;
    background-color: #F0F0F0;
    border-radius: 15px;
    margin: 15px;
    overflow: hidden;
}
.product-img img {
    transition: 2s;
}
.product-img:hover img {
    transform: scale(1.2);
}

.product-item .card-title {
    font-weight: 700;
}
/* .product-btn {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-image: linear-gradient(90deg,lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
}
.product-btn:hover {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-image: linear-gradient(90deg,tomato, red);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
} */
.product-card-footer {
    background-color: white;
    border: 0;
    border-radius: 1.25rem!important;
    padding-bottom: 30px;
}
.product-price {
    font-size: 45px;
    color: #FABD4A;
    font-weight: 700;
}

/* Feature Area */
.feature-item {
    overflow: hidden;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin-bottom: 30px;
}
.feature-icon {
    float: left;
    margin-right: 25px;
}
.feature-info {
    overflow: hidden;
}
.feature-img {
    padding-left: 50px;
    text-align: right;
}
.feature-img img {
    max-width: 90%;
}

/* Customer Review Area */
.review-item {
    border: 0;
    border-radius: 1.25rem!important;
}
.review-img {
    padding: 30px;
    text-align: center;
}
.review-img img {
    border-radius: 100%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.review-item .card-body {
    text-align: center;
}
.marked {
    color: gold;
}
.unmarked {
    color: lightgrey;
}

.review-item .card-title {
    font-weight: 700;
}

/* Footer Area---------------------- */
.footer-area {
    padding-top: 60px;
    padding-bottom: 60px;
  
}
.footer-logo {
    text-align: center;
}
.footer-logo img {
    margin-bottom: 10px;
}

.heading-line {
    position: relative;
}
.heading-line:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1.2px;
    background-color: #FA804C;
    top: 45%;
    z-index: -1;
}
.heading-line h2 {
    display: inline-block;
    background-color: white;
    padding-right: 15px;
}

@media(min-width: 767px) and (max-width: 991px) {
    .header-banner-item-info {
        padding-right: 0px;
        padding-top: 50px;
    }
    .header-banner-item-info h1 {
        font-size: 40px;
    }
    .header-banner-item-img {
        padding-right: 0px;
    }
    .product-item .justify-content-between {
        justify-content: inherit;
        flex-flow: column;
    }
    .product-price {
        font-size: 30px;
    }
}
@media (max-width: 991px) {
    .navbar-nav {
        margin-top: 20px;
        background-color: #FA804C;
        padding: 20px 30px;
        border-radius: 15px;
    }
    ul.navbar-nav .nav-item .nav-link {
        padding: 8px 0;
        color: white;
    }
}
@media(max-width: 768px) {
    .header-banner-item-info {
        text-align: center;
    }
    .header-banner-item-info h1 {
        font-size: 30px;
    }
}
@media (max-width: 370px) {
    .navbar-brand {
        max-width: 170px;
    }
}